.conversation {
  width: 50%;
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--clr-glass-border);
  color: white;

  .receiver {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 15px;
    border-bottom: 1px solid var(--clr-glass-border);

    > img {
      width: 50px;
      height: auto;

      border-radius: 50%;
      object-fit: cover;
    }

    .username {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .conversation-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: scroll;
    max-width: 100%;

    /* Hide scroll bar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    padding: 15px;

    .message {
      display: flex;
      gap: 10px;
      max-width: 70%;

      &.own {
        align-self: flex-end;

        .message-content {
          align-items: end;
          .texts {
            background-color: var(--clr-button-bg);
          }
        }
      }

      > img {
        width: 40px;
        height: 40px;

        border-radius: 50%;
        object-fit: cover;
      }

      .message-content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .texts {
          background-color: var(--clr-input-bg);
          padding: 10px;
          border-radius: 10px;
        }

        > span {
          font-size: 12px;
        }
      }
    }
  }

  .message-operator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 15px;
    border-top: 1px solid var(--clr-glass-border);

    img {
      width: 20px;
      height: 20px;

      cursor: pointer;
      border-radius: 2px;

      &:hover {
        background-color: var(--clr-glass-border);
        box-shadow: 0 0 0 5px var(--clr-glass-border);
      }
    }

    > input {
      flex: 1;

      background-color: var(--clr-input-bg);
      border-radius: 5px;
      padding: 10px;
      border: none;
      outline: none;

      &:disabled {
        cursor: not-allowed;
      }
    }

    > button {
      background-color: var(--clr-button-bg);
      padding-block: 10px;
      padding-inline: 15px;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: var(--clr-button-bg-hover);
      }

      &:disabled {
        cursor: not-allowed;
        background-color: var(--clr-input-bg);
      }
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: calc(100% + 5px);
        left: -5px;
      }
    }
  }
}
